@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

footer{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include line-decoration(-10px);
    a{
        text-transform: uppercase;
        display: inline-block;
        @include reset-link($pink-2);
        position: relative;
        @include underline-decoration(100%, 0px, 2px);
        @include hover-link($yellow);
        transition: transform 0.3s ease;
    }
}