@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.noti-blog{
    .actualidad{
        @include breakpoint(tablet){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;
            align-items: center;
            gap: 10px;
        }
        h1{
            font-family: $titule-font;
            font-size: 40px;
            margin-bottom: 50px;
            color: $yellow;
            text-align: center;
            @include breakpoint(tablet){
                grid-column: span 2;
                font-size: 55px;
            }
        }
        figure{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0px;
            @include breakpoint(tablet){
                margin-left: auto;
                margin-right: auto;
            }
            img{
                border-radius: 30px;
                width: 95%;
                margin-bottom: 50px;
            }
        }
        p{
            margin-bottom: 40px;
            span{
                color: $pink-2;
                font-size: 18px;
                font-weight: bold;
                @include breakpoint(tablet){
                    font-size: 20px;
                }
            }
            @include breakpoint(tablet){
               font-size: 20px;
               width: 80%;
               margin-left: auto;
               margin-right: auto;
            }
        }
    }
    .destacados{
        h2{
            position: relative;
            font-family: $titule-font;
            font-size: 28px;
            margin-bottom: 30px;
            color: $yellow;
            @include line-decoration(-10px);
            @include breakpoint(tablet){
                text-align: center;
                font-size: 45px;
            }
        }
        ul{
            margin-bottom: 40px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 15px;
            @include breakpoint(tablet){
               flex-direction: row;
               gap: 100px;
               padding-left: 2%
            }
            .destk-1{
                @include breakpoint(tablet){
                    @include foto-deco(url(../../img/Blog-noticias/noticias/noti1.png));
                }
            }
            .destk-2{
                @include breakpoint(tablet){
                    @include foto-deco(url(../../img/Blog-noticias/noticias/noti2.png));
                }
            }
            a{
                @include reset-link($pink-2);
                @include hover-link($yellow);
                &:hover{
                    span{
                        @include hover-link($yellow);
                        color: $yellow;
                    }
                }
                span{
                    color: $pink-2;
                    position: relative;
                    @include underline-decoration(100%, 0px, 2px)
                }
            }
        }
    }
}