@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.confir{
    margin-bottom: 122%;
    @include breakpoint(tablet){
        margin-bottom: 76%;
    }
    h1{
        font-family: $titule-font;
        font-size: 40px;
        margin-bottom: 90px;
        color: $yellow;
        text-align: center;
        @include breakpoint(tablet){
            font-size: 55px;
            margin-bottom: 140px;
        }
    }
    p{
        @include breakpoint(tablet){
            font-size: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}