@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.home{
    .hero-home{
        h1{
            font-family: $titule-font;
            font-size: 40px;
            margin-bottom: 30px;
            color: $yellow;
        }
        figure{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            img{
                margin-bottom: 50px;
                border-radius: 30px;
                width: 85%;
            }
        }
        p{
            width: 94%;
            margin-bottom: 40px;
        }
    }
    .equipo-home{
        h2{
            position: relative;
            font-family: $titule-font;
            font-size: 30px;
            margin-bottom: 20px;
            color: $yellow;
            @include line-decoration(-10px);
        }
        p{
            margin-bottom: 30px;
            a{
                text-transform: uppercase;
                display: inline-block;
                @include reset-link($pink-2);
                position: relative;
                @include underline-decoration(100%, 0px, 2px);
                @include hover-link($yellow);
                transition: transform 0.3s ease;
                text-indent: 0px;
            }
        }
    }
    .cursos-home{
        h2{
            position: relative;
            @include line-decoration(-10px);
            font-family: $titule-font;
            font-size: 30px;
            margin-bottom: 20px;
            color: $yellow;
        }
        p{
            text-indent: 20px;
            margin-bottom: 30px;
            a{
                text-transform: uppercase;
                display: inline-block;
                @include reset-link($pink-2);
                position: relative;
                @include underline-decoration(100%, 0px, 2px);
                @include hover-link($yellow);
                transition: transform 0.3s ease;
                text-indent: 0px;
            }
        }
        ul{
            padding-left: 16px;
            margin-bottom: 30px;
            li{
                color: $pink-2;
            }
        }
        figure{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            img{
                margin-bottom: 50px;
                border-radius: 30px;
                width: 85%;
            }
        }
    }
    .noti-home{
        h2{
            position: relative;
            @include line-decoration(-10px);
            font-family: $titule-font;
            font-size: 30px;
            margin-bottom: 20px;
            color: $yellow;
        }
        p{
            text-indent: 20px;
            margin-bottom: 40px;
            a{
                text-transform: uppercase;
                display: inline-block;
                @include reset-link($pink-2);
                position: relative;
                @include underline-decoration(100%, 0px, 2px);
                @include hover-link($yellow);
                transition: transform 0.3s ease;
                text-indent: 0px;
            }
        }
        ul{
            padding-left: 16px;
            margin-bottom: 70px;
            list-style:none;
            a{
                display: inline-block;
                @include reset-link($pink-2);
                position: relative;
                @include underline-decoration(100%, 0px, 2px);
                @include hover-link($yellow);
                transition: transform 0.3s ease;
            }
        }
    }
}
