@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.iniciando{
    margin-bottom: 66%;
    @include breakpoint(tablet){
        margin-bottom: 41%;
    }
    h1{
        font-family: $titule-font;
        font-size: 40px;
        margin-bottom: 125px;
        color: $yellow;
        @include breakpoint(tablet){
            margin-bottom: 215px;
            font-size: 55px;
        }
    }
    p{
        margin-bottom: 15px;
        text-align: center;
    }
    figure{
        display: flex;
        justify-content: center;
    }
}