@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.login{
    margin-bottom: 82%;
    h1{
        font-family: $titule-font;
        font-size: 35px;
        margin-bottom: 30px;
        color: $yellow;
    }
    form{
        fieldset{
            padding: 10px;
            border-color: $yellow;
            background-color: $light-black;
        }
        input{
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid $yellow;
            margin-bottom: 10px;
            &:hover{
                cursor: url(../../img/comun/Pointer.png), pointer;
            }
        }
        label{
            &:hover{
                cursor: url(../../img/comun/Pointer.png), pointer;
            }
        }   
    }
}