@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.noti1, .noti2{
    h1{
        font-family: $titule-font;
        font-size: 28px;
        margin-bottom: 30px;
        color: $yellow;
    }
    figure{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        img{
            margin-bottom: 50px;
            border-radius: 30px;
            width: 85%;
        }
    }
    p{
        margin-bottom: 30px;
    }
    ul{
        padding-left: 16px;
        margin-bottom: 15px;
        li{
            color: $pink-2;
        }
    }
}
.btn-back-bg{
    @include button($yellow);
    @include reset-link($black);
    @include hover-link($white);
    margin-bottom: 50px;
    position: relative;
    left: 4%;
    @include breakpoint(tablet){
       position: absolute;
        left: 68%; 
        bottom: 4%;       
    }
}

// cambios independientes en versiones tablet y desktop.
.noti1{
    @include breakpoint(tablet){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;        
    }
    h1{
        font-family: $titule-font;
        font-size: 28px;
        margin-bottom: 30px;
        color: $yellow;
        @include breakpoint(tablet){
            grid-column: span 2;
            font-size: 40px;  
            margin-bottom: 40px;   
        }
    }
    figure{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        img{
            margin-bottom: 50px;
            border-radius: 30px;
            width: 85%;
            @include breakpoint(tablet){
                width: 90%;
                margin-bottom: 0px;
            }
        }
        figcaption{
            @include breakpoint(tablet){
                display: none;
            }
        }
    }
    p{
        margin-bottom: 30px;
        @include breakpoint(tablet){
            margin-bottom: 0px;
            font-size: 20px;
        }
    }
    p:nth-of-type(4){
        @include breakpoint(tablet){
            position: relative;
            bottom: 25%;
        }
    }
    p:nth-of-type(5){
        @include breakpoint(tablet){
            position: relative;
            top: 21%;
        }
    }
    ul{
        padding-left: 16px;
        margin-bottom: 15px;
        @include breakpoint(tablet){
            margin-bottom: 30px;
            grid-column: span 2;
        }
        li{
            color: $pink-2;
            @include breakpoint(tablet){
                font-size: 22px;
            }
        }
    }
}

.noti2{
    @include breakpoint(tablet){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;        
    }
    h1{
        font-family: $titule-font;
        font-size: 28px;
        margin-bottom: 30px;
        color: $yellow;
        @include breakpoint(tablet){
            grid-column: span 2;
            font-size: 40px;  
            margin-bottom: 40px;  
        }
    }
    figure{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        img{
            margin-bottom: 50px;
            border-radius: 30px;
            width: 85%;
            @include breakpoint(tablet){
                width: 90%;
                margin-bottom: 0px;
            }
        }
        figcaption{
            @include breakpoint(tablet){
                display: none;
            }
        }
    }
    p{
        margin-bottom: 30px;
        @include breakpoint(tablet){
            margin-bottom: 0px;
            font-size: 20px;
        }
    }
    p:nth-of-type(2){
        @include breakpoint(tablet){
            position: relative;
            top: 5%;
        }
    }
    p:nth-of-type(4){
        @include breakpoint(tablet){
            grid-column: 2;
            grid-rows: 2;
            position: relative;
            bottom: 80%;
        }
    }
    p:last-of-type{
       @include breakpoint(tablet){
            width: 90%;    
            grid-column: span 2;
            position: relative;
            bottom: 171%;
            left: 7%;
            em{
                @include breakpoint(tablet){
                    font-size: 20px;
                }
            }
        } 
    }
}